<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Register Template</title>
        
        <!-- DeviceTalk -->
        <script src="static/js/app.js"></script>
		<script src="static/js/register_template.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

        <link href="static/css/style.css" rel="stylesheet" />
    </head>
	<body onload="init();">
		<div id="app">
			<div class="register-table">
				<table>
					<tr>
						<td v-for="bit_num in register_bit_cols">{{ register_bit_cols-bit_num }}</td>
					</tr>
					<tr>
						<td v-for="register in register_table" :colspan="register.span" :class="register.is_resv ? 'resv' : 'none'">{{ register.name }}</td>
					</tr>
				</table>
			</div>
			<div><p></p></div>
			<div>
				<div>
					<p>Max bits: <input type="number" min="0" step="1" v-model.lazy="template_input_table_config.max_bits" /> </p>
				</div>
				<table class="format-table">
					<tr class="format-table-tr">
						<td>action</td>
						<td>bits</td>
						<td>name</td>
					</tr>
					<tr v-for="(format_item, format_item_idx) in template_input_table" class="format-table-tr">
						<td>
							<button @click="format_item_remove(format_item_idx)">X</button>
						</td>
						<td>
							<table class="bit-table"><tr v-for="(bit_range, bit_range_idx) in format_item.bit_ranges">
								<td><input type="number" min="0" step="1" v-model.number="bit_range[0]"
								           @change="bit_table_check_high(format_item_idx, bit_range_idx, $event)"/></td>
								<td><input type="number" min="0" step="1" v-model.number="bit_range[1]"
								           @change="bit_table_check_low(format_item_idx, bit_range_idx, $event)" /></td>
							</tr></table>
							<td><input type="text" v-model.lazy="format_item.name"></input></td>
						</td>
					</tr>
				</table>
				<button @click="format_item_new()">New format item</button>
			</div>
		</div>
	</body>

</html>