<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Register Template</title>
        
        <!-- DeviceTalk -->
        <script src="static/js/app.js"></script>
		<script src="static/js/register_template.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

        <link href="static/css/style.css" rel="stylesheet" />
    </head>
	<body onload="init();">
		<div id="app">
			<div class="register-table">
				<table>
					<tr>
						<td v-for="bit_num in register_bit_cols">{{ register_bit_cols-bit_num }}</td>
					</tr>
					<tr>
						<td v-for="register in register_table" :colspan="register.span" :class="register.is_resv ? 'resv' : 'none'">{{ register.name }}</td>
					</tr>
				</table>
			</div>
			<div>
				<table>
					<tr>
					</tr>
				</table>
			</div>
		</div>
	</body>

</html>